#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.typescript:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}
.logo.reduxToolkit:hover {
  filter: drop-shadow(0 0 2em #673ab7aa);
}
.logo.cypress:hover {
  filter: drop-shadow(0 0 2em #a1a1a1aa);
}
.logo.cypress {
  border-radius: 75px;
}
.logo.reactTestingLibrary:hover {
  filter: drop-shadow(0 0 2em #a00b07aa);
}
.logo.eslint:hover {
  filter: drop-shadow(0 0 2em #6463e2aa);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
  a:nth-of-type(7) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
